
.homechurch {
  background: url('../img/splash.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.returnHome {
  color: #F8BD39;
}

.bottom {
  padding: $content-padding;
  position: fixed;
  bottom:15%;
  left: 0;
  right: 0;
  //background-color: $colors.primary;
}

.center-ionicon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  color: map-get($colors, light);
  font-size:3.2em;
  //color: #4EB36E;
}

