<ion-content padding class="homechurch" >

  <div id="horizontalDiv" class="bottom">


    <div *ngIf="buttonVisible"  class="icon-circle-large icon-circle-outline" (click)="launch()" >
      <ion-icon text-center="center" large name="arrow-forward" class="center-ionicon">
      </ion-icon>
    </div>
  </div>

</ion-content>

